{% comment %} <!-- Footer -->
  <footer id="main-footer " class="py-4 bg-dark text-white text-center">
    Copyright &copy;
    <span class="year"></span> Akamis Dairies
  </footer> {% endcomment %}
  <!-- Footer -->
<footer class="page-footer font-small bg-dark special-color-dark pt-4 mt-2">
  <div class="row">
    <div class="col">
      <h5 class="text-center text-white">ABOUT US</h5>
      <p class="text-center text-white">
        Fundi Mtaa is a plumbing company providing professional and guaranteed materials and services for residential and commercial clients. 
      </p>
    </div>
    <div class="col">
      <h5 class="text-white text-center">LEGAL</h5>
      <ul class="text-white text-center" style="list-style-type: none;">
        <li>
          <a href="#">Terms of Service</a>
        </li>
        <li>
          <a href="#">Terms of Use</a>
        </li>
        <li>
          <a href="#">Privacy Policy</a>
        </li>
      </ul>
    </div>
    <div class="col">
        <h5 class="text-center text-white">CONTACT US</h5>
        <h5 class="text-center text-white">
          <i class="fas fa-phone"></i> 123456789
        </h5>
      <div class="container ">

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fab fa-facebook-f "> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1" href="#">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1" href="#">
              <i class="fab fa-google-plus-g"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1" href="#">
              <i class="fab fa-linkedin-in"> </i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1" href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
         
        </ul>
        <!-- Social buttons -->
    
      </div>
      <!-- Footer Elements -->
    </div>
  </div>
  <!-- Footer Elements -->


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 bg-dark" style="color: #87ceeb;">Copyright &copy;
    <span class="year"></span> fundi mtaa
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->